.responsive-image {
    max-width: 70%;
    height: auto;
}


/* caja que contiene las películas */
.recuadro {
    display: flex;
    max-width: 90%;
    box-shadow: 0 0 4px #c9c9c9;
    border-radius: 15px;
    margin: 3%;
    padding: 1%;
}

.movie-image {
    /*Estilos para la imagen*/
    flex: 1;
    margin-top: 20px;
}

.movie-image h3 {
    margin-top: 40px;
}

.movie-details {
    /*Estilos para los detalles de la película*/
    flex: 2;
    padding-left: 5px;
}
.small-image {
    width: 100px;
    height: auto;
}

.large-image {
    width: 100%;
    height: auto;
}

.trope-container {
    display: flex;
    align-items: center;
}

.vote-icons {
    display: flex;
    gap: 5px;
}

.genre-trope-container {
    display: flex;
    align-items: center;
}

.genre-trope-container .badge {
    margin-right: 10px;
}

#genreAccordion {
    margin-top: 20px;
}

#headingOne .accordion-button {
    background-color: #1c2b5e;
    font-size: 0.9em;
    color: white;
}
